<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.mapper.ProductMapper">
    <select id="getAllProduct" resultType="java.util.HashMap">
    select
    p.*,pt.name AS typename
    from product p ,producttype pt
    WHERE p.typeid=pt.id
    </select>
    <select id="getAllProductByPage" resultType="java.util.HashMap">
    <bind name="offset" value="page*pagesize-pagesize"/>
    select
    p.*,pt.name AS typename
    from product p ,producttype pt
    WHERE p.typeid=pt.id
    <if test="name!=null and name!=''">
        <bind name="p_name" value="'%'+name+'%'"/>
        and p.name like #{p_name}
    </if>
    <if test="typeid!=-1">
        and p.typeid=#{typeid}
    </if>

    order by date desc
    limit #{offset},#{pagesize}
    </select>
    <select id="getRowCount" resultType="java.lang.Integer">
    SELECT count(1) FROM product where 1=1
        <if test="name!=null and name!=''">
            <bind name="p_name" value="'%'+name+'%'"/>
            and name like #{p_name}
        </if>
        <if test="typeid!=-1">
            and typeid=#{typeid}
        </if>
    </select>
    <select id="getProductById" resultType="com.oracle.entity.Product">
        SELECT * FROM product WHERE id= #{id}
    </select>
    <update id="updateProduct" parameterType="com.oracle.entity.Product">
        update product
        set name=#{name},content=#{content},price=#{price},
        image=#{image},number=#{number},typeid=#{typeid},
        date=#{date}
        where id=#{id}
    </update>
</mapper>