<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.mapper.ProductTypeMapper">
    <select id="getProductTypeBypage" resultType="com.oracle.entity.Producttype">
        <bind name="offset" value="page*pagesize-pagesize"/>
        select * from  producttype
        where 1=1
        <if test="typeId!=-1">
            and id=#{typeId}
        </if>
        <if test="typeName!=null and typeName!=''">
            <bind name="p_name" value="'%'+typeName+'%'"/>
            and name like #{p_name}
        </if>
        limit #{offset},#{pagesize}
    </select>
    <select id="getRowCount" resultType="java.lang.Integer">
    SELECT count(1) FROM producttype
    where 1=1
    <if test="typeId!=-1">
        and id=#{typeId}
    </if>
        <if test="typeName!=null">
            <bind name="p_name" value="'%'+typeName+'%'"/>
            and name like #{p_name}
        </if>
    </select>
    <select id="getAll" resultType="com.oracle.entity.Producttype">
    SELECT * FROM producttype
    </select>
    <select id="selectProductTypeById" resultType="com.oracle.entity.Producttype">
        select * from  producttype
        where id= #{id}
    </select>
    <update id="updateProductType" parameterType="com.oracle.entity.Producttype">
        update producttype
        set name= #{name}
        where id= #{id}
    </update>
    <insert id="addProtype" parameterType="com.oracle.entity.Producttype">
        insert into producttype  values (#{id},#{name});
    </insert>
    <delete id="delProductType" >
        delete from producttype where id=#{id}
    </delete>
</mapper>